name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install
        run: npm install

      - name: Build
        run: npm run build
        env:
          VITE_URL_LIST_FLOWS: ${{ secrets.VITE_URL_LIST_FLOWS || secrets.VITE_FLOW_API_UR }}
          VITE_URL_GET_TOKEN: ${{ secrets.VITE_URL_GET_TOKEN || secrets.VITE_TOKEN_URL }}
          VITE_URL_GET_HISTORY: ${{ secrets.VITE_URL_GET_HISTORY || secrets.VITE_POWER_PLATFORM_URL }}
          VITE_URL_GET_METADATA: ${{ secrets.VITE_URL_GET_METADATA || secrets.VITE_POWER_PLATFORM_URL }}
          VITE_CLIENT_ID: ${{ secrets.VITE_CLIENT_ID }}
          VITE_CLIENT_SECRET: ${{ secrets.VITE_CLIENT_SECRET }}
          VITE_TENANT_ID: ${{ secrets.VITE_TENANT_ID }}
          VITE_SCOPE: ${{ secrets.VITE_SCOPE }}
          VITE_FLOW_API_UR: ${{ secrets.VITE_FLOW_API_UR }}
          VITE_TOKEN_URL: ${{ secrets.VITE_TOKEN_URL }}
          VITE_POWER_PLATFORM_URL: ${{ secrets.VITE_POWER_PLATFORM_URL }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/deploy-pages@v4
